{% extends "feed/layout.html" %} {% load static %} {% block searchform %}
<div class="container2">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<form class="searchbar" action="{% url 'search_users' %}" method="get"">
  <input class="postquery" name="q" type="text" autocomplete="off"/ placeholder="Search users..">
  <button id="search_btn" type="submit">
  <i class="fa fa-search"></i>
  </button>
</form>
</div>
{% endblock searchform %} {% load crispy_forms_tags %} {% block content %}
<br /><br />
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-8 col-lg-7 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center"><b>Update Profile</b></h5>
          <form class="form-signin" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
              <br />
              {{ u_form|crispy }} {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
              <button
                class="btn btn-info btn-primary btn-block text-uppercase update_profile"
                type="submit"
              >
                Update</button
              ><br /><br />
              <a
                class="btn btn-secondary btn-block text-uppercase update_profile"
                href="{% url 'my_profile' %}"
                >Go Back</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}