{% extends "feed/layout.html" %} {% load static %} {% load embed_video_tags %} {% block searchform %}
<div class="container2">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
  

  <form class="searchbar" action="{% url 'search_users' %}" method="get"">
  <input class=" postquery" name="q" type="text" autocomplete="off" / placeholder="Search users..">
    <button id="search_btn" type="submit">
      <i class="fa fa-search"></i>
    </button>
  </form>
</div>
{% endblock searchform %} {% block content %}

<div class="main-content">
  <div class="container mt-2">
    <div class="row">
      <div class="col-xl-12 col-lg-10 col-md-10  m-auto order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <img src="{{ u.profile.image.url }}" class="rounded-circle" width="160px" height="160px" />
                </a>
              </div>



            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"></div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">

                  <div>
                    <span class="heading">{{ u.profile.friends.count }}</span>
                    {% if request.user == u %}
                    <span class="description"><a href="{% url 'friend_list' %}">Friends</a></span>
                    {% else %}
                    <span class="description">Friends</span>
                    {% endif %}
                    <span class="heading">{{ post_count }}</span>
                    <span class="description"><a href="{% url 'user-posts' u.username %}">Posts</a></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3 class="user_link"><a href="{% url 'user-posts' u.username %}">{{ u }}</a></h3>
              <p>{{ u.profile.bio }}</p>
              <hr class="my-2" />
              {% if request.user == u %}
              <a class="btn btn-info edit_btn" href="{% url 'edit_profile' %}">Edit Profile</a>
              {% else %} {% if button_status == 'not_friend' %}
              <small><a class="btn btn-secondary" href="/users/friend-request/send/{{ u.username }}">Add
                  Friend</a></small>
              {% elif button_status == 'friend_request_sent' %}
              <small><a class="btn btn-warning" href="/users/friend-request/cancel/{{ u.username }}">Cancel
                  Request</a></small>
              {% elif button_status == 'friend_request_received' %}
              <small><a class="btn btn-secondary mr-2" href="/users/friend-request/accept/{{ u.username }}">Accept
                  Request</a></small>
              <small><a class="btn btn-danger" href="/users/friend-request/delete/{{ u.username }}">Reject
                  Request</a></small>
              {% else %}
              <small><a class="btn btn-danger" href="/users/friend/delete/{{ u.username }}">UnFriend</a></small>
              {% endif %} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 m-auto order-xl-2 mb-5 mb-xl-0">
        <div class="card card-music">
          <h3 class="music-video-titles">MUSIC</h3>
          <a class="btn btn-secondary track-upload-button" href="{% url 'music-upload' user.profile.slug %}">Upload</a>

          
            {% if artwork|length >= 1 %}
          <a class="btn btn-secondary edit-tracks-button" href="{% url 'edit_tracks' user.profile.slug %}">Edit Tracks</a>
            {% endif %}
       
       


          <div id="app-cover">
            <div id="bg-artwork"></div>
            <div id="bg-layer"></div>
            <div id="player">
              <div id="player-track">

                <div id="album-name"></div>
                <div id="track-name"></div>
                <div id="track-time">
                  <div id="current-time"></div>
                  <div id="track-length"></div>
                </div>
                <div id="s-area">
                  <div id="ins-time"></div>
                  <div id="s-hover"></div>
                  <div id="seek-bar"></div>
                </div>
              </div>
              <div id="player-content">
                <div id="album-art">


                  {% if request.user == u %}
                  {% for art in artwork %}

                  <img src="{{ art.artwork.url }}" class="active" id="_{{ forloop.counter }}">

                  {% endfor %}
                  {% endif %}


                  <div id="buffer-box">Buffering ...</div>
                </div>
                <div id="player-controls">
                  <div class="control">
                    <div class="music-buttons" id="play-previous">
                      <i class="fas fa-backward"></i>
                    </div>
                  </div>
                  <div class="control">
                    <div class="music-buttons" id="play-pause-button">
                      <i class="fas fa-play"></i>
                    </div>
                  </div>
                  <div class="control">
                    <div class="music-buttons" id="play-next">
                      <i class="fas fa-forward"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>


    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 m-auto mb-5 mb-xl-5">
        <div class="card card-videos shadow">

          <h3 class="music-video-titles">VIDEOS</h3>
          <a class="btn btn-secondary video-upload-button" href="{% url 'video-upload' user.profile.slug %}">Upload</a>

         {% if videos|length >= 1 %}
          <a class="btn btn-secondary edit-videos-button" href="{% url 'edit_videos' user.profile.slug %}">Edit Videos</a>
          {% endif %}
        


           <div id="slide-window">
         
      
                
     
        
    <ol id="slides" start="1">
    

      {% for item in videos %}
         
      
      <li class="slide color-{{ forloop.counter0 }}">   
         <h5 class="caption">{{ item.caption }}</h5>
          {% video item.video '100% x 100%' %}
      </li>

      {% endfor %}
      
    </ol>
</div>
   <span class="nav fa fa-chevron-left fa-3x" id="left"></span>
    <span class="nav fa fa-chevron-right fa-3x" id="right"></span>
        

        </div>
      </div>
    </div>



    {% if request.user == u %}
    <div class="row sent-request-row">
      <div class="col-md-6 sent-requests">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h2 class="profile_requests">Friend Requests Sent ({{ sent_friend_requests.count }})</h2>
            <hr class="my-2" />
            {% if not sent_friend_requests %}
            <h5><i>No sent requests!</i></h5>
            {% else %} {% for s_request in sent_friend_requests %}
            <a href="{{ s_request.to_user.profile.get_absolute_url }}"><img
                src="{{ s_request.to_user.profile.image.url }}" class="rounded mr-2" width="40" height="40"
                alt="" /></a>
            <a href="{{ s_request.to_user.profile.get_absolute_url }}"><b>{{ s_request.to_user.username }}</b></a>
            <small class="float-right">
              <a class="btn btn-warning mr-2"
                href="{% url 'cancel_friend_request' s_request.to_user.username %}">Cancel</a>
            </small>
            <br /><br />
            {% endfor %} {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-6 sent-requests">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h2 class="profile_requests">Friend Requests Recieved ({{ rec_friend_requests.count }})</h2>
            <hr class="my-2" />
            {% if not rec_friend_requests %}
            <h5><i>No recieved requests!</i></h5>
            {% else %} {% for r_request in rec_friend_requests %}
            <a href="{{ r_request.from_user.profile.get_absolute_url }}"><img
                src="{{ r_request.from_user.profile.image.url }}" class="rounded mr-2" width="40" height="40"
                alt="" /></a>
            <a class="mr-2 align-middle" href="{{ r_request.from_user.profile.get_absolute_url }}"><b>{{ r_request.from_user.username }}</b>
            </a>
            <small class="float-right">
              <a class="btn btn-success mr-2"
                href="/users/friend-request/accept/{{ r_request.from_user.username }}">Accept</a>
              <a class="btn btn-danger"
                href="/users/friend-request/delete/{{ r_request.from_user.username }}">Reject</a>
            </small>
            <br /><br />
            {% endfor %} {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock content %}

{% block jsfiles %}

<script>
$(document).on('click', '.edit-videos-button', function(){
  if(Video.objects.all().filter(videoUser_id=you).count() < 1){
    return confirm('You have no videos, please upload first');
  };
})
</script>



{% endblock jsfiles %}