html {
    overflow-y: scroll;
    overflow-x: scroll;
}

.container1 {
    width: 100%;
    height: auto;
    padding: 0px;
    position: relative;
}
.large_navbar {
    padding: 10px;
    
}
.menu_nav {
    justify-content: center;

}

.navbar-brand {
    margin: 0px;
    padding: -10px;
    left: -25px;
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 30px;
}
.navbar-brand:hover {
    margin: 0px;
    padding: -10px;
    left: -25px;
    display: inline-block;
    font-size: 30px;
    font-weight: 100;
    color: rgb(65, 188, 225);
    overflow: hidden;
    background: linear-gradient(to right, midnightblue, rgb(14, 117, 160) 50%, rgb(24, 198, 186) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 875ms ease;
    text-decoration: none; // text decorations are clipped in WebKit browsers
    &:hover {
        background-position: 0 100%;
  }
}

.navbar-nav {
    width: 100%;
    height: auto;
    padding: 10px;
}

.nav-item-logout {
    position: absolute;
    top: 34px;
    right: 0;
    font-family: 'Saira', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: rgb(223, 250, 250);
    padding: 5px;
    width: 25%;
    height: 45px !important;
}
.nav-item-login {
    position: relative;
    top: 35px;
    right: 0px;
    font-family: 'Saira', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: rgb(223, 250, 250);
    padding: 5px;
    width: 115px;
}
.nav-item-register {
    position: relative;
    top: 35px;
    right: -15px;
    font-family: 'Saira', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: rgb(223, 250, 250);
    padding: 5px;
    width: 300px;
}
.auth_buttons {
    width: auto;
    margin: 10px;
    height: fit-content; 
    background: none;
}
.auth_buttons_signup_login {
    position: relative;
    top: 20px;
    right: 0;
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 100%; 
    background-color: rgb(53, 189, 92); 
}
.auth_buttons_signup_forgot {
    position: relative;
    top: 20px;
    right: 0;
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 100%; 
    background-color: rgb(23, 109, 162);
}
.login_again {
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 100%; 
    background-color: rgb(23, 109, 162);
}
.text-center_register_now {
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        width: 100%;
        height: auto;
        padding: 10px;
        margin-bottom: 60px;
    }
    .nav-item-login {
        position: relative;
        top: 20px;
        right: 0;
        font-family: 'Saira', sans-serif;
        font-weight: 200;
        font-size: 20px;
        color: rgb(223, 250, 250);
        padding: 5px;
        width: 100%;
    }
    .nav-item-register {
        position: relative;
        top: 20px;
        right: 0;
        font-family: 'Saira', sans-serif;
        font-weight: 200;
        font-size: 20px;
        color: rgb(223, 250, 250);
        padding: 5px;
        width: 100%;
    }
    .auth_buttons {
        width: auto;
        margin: 10px;
        height: fit-content; 
        background: none;
    }

}

.nav-item {
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: rgb(223, 250, 250);
    padding: 15px;
    width: 100%;
    text-align: center;
    position: relative;
    top: 35px;
    margin-bottom: 20px;
}
.nav-item:hover{
    font-size: 20px;
    font-weight: 400;
    color: rgb(65, 188, 225);
    overflow: hidden;
    background: linear-gradient(to right, midnightblue, rgb(14, 117, 160) 50%, rgb(24, 198, 186) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 875ms ease;
    text-decoration: none; // text decorations are clipped in WebKit browsers
    &:hover {
        background-position: 0 100%;
  }
}

}

.form-inline {
    justify-content: center;
}
.card-profile-image {
    margin-top: 15px;
}



@media screen and (min-width: 768px){
    .menu {display: none;}
}

@media screen and (max-width: 767px) {
    .searchbar{
        position: absolute!important;
        top: 300px !important;
        right: 180px !important;
        transition: all 1s;
        width: 50px;
        height: 50px;
        background: white;
        box-sizing: border-box;
        border-radius: 15px;
        border: 4px solid white;
        padding: 20px;  
    }

    .nav-item-logout {
        position: absolute;
        top: 303px;
        right: -10px;
        font-family: 'Saira', sans-serif;
        font-weight: 200;
        font-size: 20px;
        color: rgb(223, 250, 250);
        padding: 5px;
        width: 95px;
    }
    .nav-item {
        font-family: 'Saira', sans-serif;
        font-weight: 100;
        font-size: 20px;
        color: rgb(223, 250, 250);
        padding: 0px;
        width: 100%;
        text-align: center;
        position: relative;
        top: 0px;
        margin-bottom: 20px;
    }
    .nav-item:hover{
        font-size: 20px;
        font-weight: 400;
        color: rgb(65, 188, 225);
        overflow: hidden;
        background: linear-gradient(to right, midnightblue, rgb(14, 117, 160) 50%, rgb(24, 198, 186) 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 875ms ease;
        text-decoration: none; // text decorations are clipped in WebKit browsers
        &:hover {
            background-position: 0 100%;
      }
    }
    .menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: block;
        padding: 0;
        float: right;
        top: 10px;
        position: relative;

    }

    .line {
        fill: none;
        stroke: rgb(38, 160, 169);
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
        }
    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
        }
    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
        }
    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
        }
    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
        }
    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
        }
    }

/** Search button for Posts and User search  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! **/

.container2 {
    width: 100%;
    top: 10px;
    left: 10%;
    position: absolute;
    margin: 0px;
}


#search_btn {
    border: none;
    background: none;    
}

.searchbar{
    position: absolute;
    top: 32px;
    right: 25%;
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 15px;
    border: 4px solid white;
    padding: 20px;  
}

.postquery{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 10px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #127b87;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.searchbar:hover{
    width: 400px;
    cursor: pointer;
}

.searchbar:hover .postquery{
    display: block;
}

.searchbar:hover .fa{
    background: #41c5d4;
    color: rgb(0, 0, 0);
    
}

.post_button {
    background-color: #48b083fe;
    color: rgb(255, 255, 255);
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 20px;

}
.card-body .text-center {
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.update_profile {
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 20px;
}
.edit_btn {
    font-size: 17px;
    background-color: #48b083fe;
}

.profile_requests {
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 30px;
}

body {
    background-color: #15222b;
    overflow: hidden;
}
.register_card {
   position: relative;
   top: 20px;
}
.no_friends_text {
    position: relative;
    top: 200px;
    color: rgb(222, 222, 222);
    font-family: 'Saira', sans-serif;
}
.no_friends_text a {
    color: aqua;
}





