html {
    overflow-y: scroll;
    overflow-x: scroll;
}

.edit_btn {
    font-size: 17px;
    background-color: rgba(24, 83, 128, 0.851);
}


.container1 {
    width: 100%;
    height: auto;
    padding: 0px;
    position: relative;
}
.menu_nav {
    justify-content: center;

}

.navbar-brand {
    margin: 0;
    padding: 0;
    
}

.navbar-nav {
    width: 100%;
    height: auto;
    padding: 10px;
}

.nav-item-logout {
    position: absolute;
    top: 20px;
    right: 0;
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    color: rgb(223, 250, 250);
    padding: 5px;
    width: 25%;
    
}


.nav-item {
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    color: rgb(223, 250, 250);
    padding: 15px;
    width: 100%;
    text-align: center;
    position: relative;
    top: 35px;
    margin-bottom: 20px;
}
.nav-item:hover{
    color: rgb(0, 245, 167);
    transition-delay: 50ms;
    transition-duration: 800ms;
    transition-property: color;
    text-decoration: none;
}

.auth_buttons {
    width: auto;
    margin: 10px;
    height: auto; 
}


.form-inline {
    justify-content: center;
}
.card-profile-image {
    margin-top: 15px;
}



@media screen and (min-width: 768px){
    .menu {display: none;}
}

@media screen and (max-width: 767px) {
    .nav-item-logout {
        position: relative;
        top: 20px;
        right: 0;
        font-family: 'Saira', sans-serif;
        font-size: 20px;
        color: rgb(223, 250, 250);
        padding: 5px;
        width: 25%; 
        left: 36%;
    }
    .nav-item {
        font-family: 'Saira', sans-serif;
        font-size: 20px;
        color: rgb(223, 250, 250);
        padding: 0px;
        width: 100%;
        text-align: center;
        position: relative;
        top: 35px;
        margin-bottom: 20px;
    }
   
    .menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: block;
        padding: 0;
        float: right;
        top: 10px;
        position: relative;

    }

    .line {
        fill: none;
        stroke: rgb(38, 160, 169);
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
        }
    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
        }
    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
        }
    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
        }
    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
        }
    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
        }
    }

/** Search button for Posts and User search  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! **/

.container2 {
    width: 100%;
    top: 10px;
    left: 10%;
    position: absolute;
    margin: 0px;
}


#search_btn {
    border: none;
    background: none;    
}

.searchbar{
    position: absolute;
    top: 18px;
    right: 25%;
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 15px;
    border: 4px solid white;
    padding: 20px;  
}

.postquery{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 10px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #127b87;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.searchbar:hover{
    width: 400px;
    cursor: pointer;
}

.searchbar:hover .postquery{
    display: block;
}

.searchbar:hover .fa{
    background: #41c5d4;
    color: rgb(0, 0, 0);
    
}
