html {
    overflow-y: scroll;
    overflow-x: scroll;
    -webkit-tap-highlight-color:transparent;
}
body {
    background-color: #15222b;
    overflow: hidden;
}
html{ /*** disables most of the site from being selected , but still allows text to be selected **/
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; 
}
p,a,h1,h2,h3,h4,h5,h6,li,td,article{
    -o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
} /** only allows text to be selected on site **/

.container1 {
    width: 100%;
    height: auto;
    padding: 0px;
    position: relative;
}
.large_navbar {
    padding: 10px;
    
}
.menu_nav {
    justify-content: center;

}

.navbar-brand {
    margin: 0px;
    padding: -10px;
    left: -25px;
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 30px;
}
.navbar-brand:hover {
    margin: 0px;
    padding: -10px;
    left: -25px;
    display: inline-block;
    font-size: 30px;
    font-weight: 100;
    color: rgb(65, 188, 225);
    overflow: hidden;
    background: linear-gradient(to right, midnightblue, rgb(14, 117, 160) 50%, rgb(24, 198, 186) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 875ms ease;
    text-decoration: none; // text decorations are clipped in WebKit browsers
    &:hover {
        background-position: 0 100%;
  }
}

.navbar-nav {
    width: 100%;
    height: auto;
    padding: 10px;
}

.nav-item-logout {
    position: absolute;
    top: 34px;
    right: 0;
    font-family: 'Saira', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: rgb(223, 250, 250);
    padding: 5px;
    width: 25%;
    height: 45px !important;
}
.nav-item-login {
    position: relative;
    top: 35px;
    right: 0px;
    font-family: 'Saira', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: rgb(223, 250, 250);
    padding: 5px;
    width: 115px;
}
.nav-item-register {
    position: relative;
    top: 35px;
    right: -15px;
    font-family: 'Saira', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: rgb(223, 250, 250);
    padding: 5px;
    width: 300px;
}
.auth_buttons {
    width: auto;
    margin: 10px;
    height: fit-content; 
    background: none;
}
.auth_buttons_signup_login {
    position: relative;
    top: 20px;
    right: 0;
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 100%; 
    background-color: rgb(53, 189, 92); 
}
.auth_buttons_signup_forgot {
    position: relative;
    top: 20px;
    right: 0;
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 100%; 
    background-color: rgb(23, 109, 162);
}
.login_again {
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 100%; 
    background-color: rgb(23, 109, 162);
}
.text-center_register_now {
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        width: 100%;
        height: auto;
        padding: 10px;
        margin-bottom: 60px;
    }
    .nav-item-login {
        position: relative;
        top: 20px;
        right: 0;
        font-family: 'Saira', sans-serif;
        font-weight: 200;
        font-size: 20px;
        color: rgb(223, 250, 250);
        padding: 5px;
        width: 100%;
    }
    .nav-item-register {
        position: relative;
        top: 20px;
        right: 0;
        font-family: 'Saira', sans-serif;
        font-weight: 200;
        font-size: 20px;
        color: rgb(223, 250, 250);
        padding: 5px;
        width: 100%;
    }
    .auth_buttons {
        width: auto;
        margin: 10px;
        height: fit-content; 
        background: none;
    }

}

.nav-item {
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: rgb(223, 250, 250);
    padding: 15px;
    width: 100%;
    text-align: center;
    position: relative;
    top: 35px;
    margin-bottom: 20px;
}
.nav-item:hover{
    font-size: 20px;
    font-weight: 400;
    color: rgb(65, 188, 225);
    overflow: hidden;
    background: linear-gradient(to right, midnightblue, rgb(14, 117, 160) 50%, rgb(24, 198, 186) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 875ms ease;
    text-decoration: none; // text decorations are clipped in WebKit browsers
    &:hover {
        background-position: 0 100%;
  }
}

}

.form-inline {
    justify-content: center;
}
.card-profile-image {
    margin-top: 15px;
}



@media screen and (min-width: 768px){
    .menu {display: none;}
}

@media screen and (max-width: 767px) {
    .searchbar{
        position: absolute!important;
        top: 300px !important;
        right: 180px !important;
        transition: all 1s;
        width: 50px;
        height: 50px;
        background: white;
        box-sizing: border-box;
        border-radius: 15px;
        border: 4px solid white;
        padding: 20px;  
    }

    .nav-item-logout {
        position: absolute;
        top: 303px;
        right: -10px;
        font-family: 'Saira', sans-serif;
        font-weight: 200;
        font-size: 20px;
        color: rgb(223, 250, 250);
        padding: 5px;
        width: 95px;
    }
    .nav-item {
        font-family: 'Saira', sans-serif;
        font-weight: 100;
        font-size: 20px;
        color: rgb(223, 250, 250);
        padding: 0px;
        width: 100%;
        text-align: center;
        position: relative;
        top: 0px;
        margin-bottom: 20px;
    }
    .nav-item:hover{
        font-size: 20px;
        font-weight: 400;
        color: rgb(65, 188, 225);
        overflow: hidden;
        background: linear-gradient(to right, midnightblue, rgb(14, 117, 160) 50%, rgb(24, 198, 186) 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 875ms ease;
        text-decoration: none; // text decorations are clipped in WebKit browsers
        &:hover {
            background-position: 0 100%;
      }
    }
    .menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: block;
        padding: 0;
        float: right;
        top: 10px;
        position: relative;

    }

    .line {
        fill: none;
        stroke: rgb(38, 160, 169);
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
        }
    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
        }
    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
        }
    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
        }
    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
        }
    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
        }
    }

/** Search button for Posts and User search  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! **/

.container2 {
    width: 100%;
    top: 10px;
    left: 10%;
    position: absolute;
    margin: 0px;
}


#search_btn {
    border: none;
    background: none;    
}

.searchbar{
    position: absolute;
    top: 32px;
    right: 25%;
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 15px;
    border: 4px solid white;
    padding: 20px;  
}

.postquery{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 10px;
    padding: 0 20px;
}

.fa-search{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #127b87;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.searchbar:hover{
    width: 400px;
    cursor: pointer;
}

.searchbar:hover .postquery{
    display: block;
}

.searchbar:hover .fa-search{
    background: #41c5d4;
    color: rgb(0, 0, 0);
    
}

.post_button {
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 20px;

}
.card-body .text-center {
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.update_profile {
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 20px;
}
.edit_btn {
    font-size: 17px;
}

.profile_requests {
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.register_card {
   position: relative;
   top: 20px;
}
.no_friends_text {
    position: relative;
    top: 200px;
    color: rgb(222, 222, 222);
    font-family: 'Saira', sans-serif;
}
.no_friends_text a {
    color: aqua;
}
.post_search_noresult_text {
    color: rgb(222, 222, 222);
    font-family: 'Saira', sans-serif;
}

.page-footer {
    color: rgb(222, 222, 222);
    font-family: 'Saira', sans-serif;
}

.card-body {
    background-color: #d9e1e4;
}
.btn-danger:hover {
    background-color: #880a0a;
}
.btn-secondary:hover {
    background-color: #2d2c2c;
}
.btn-info:hover {
    background-color: #079379;
}
.user_link a {
    color: #222426;
    text-decoration: none;
}
.user_link a:hover {
    font-family: Saira, sans-serif;
    color: #065688;
    text-decoration: none;
    font-weight: 600;
}
.friend_link{
    color: #1c1c1c;
    text-decoration: none;
}
.friend_link:hover{
    color: #006d85;
    text-decoration: none;
}




#app-cover  /******************************************* Music Player ******************************************/ 
{
    position: relative;
    top: 100px;
    right: 0;
    left: 0;
    width: 430px;
    height: 100px;
    margin: -4px auto;
    
}

#player
{
    position: relative;
    height: 105%;
    z-index: 3;
    
}

#player-track
{
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    padding: 13px 22px 10px 184px;
    background-color: #829aa3;
    border-radius: 15px 15px 0 0;
    transition: 0.9s ease top;
    z-index: 1;
    height: 90%;
}

#player-track.active
{
    top: -100px;
}

#album-name
{
    color: #343435;
    font-size: 17px;
    font-weight: bold;
}

#track-name
{
    color: #404041;
    font-size: 13px;
    margin: 2px 0 13px 0;
}

#track-time
{
    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
}

#current-time
{
    float: left;
}

#track-length
{
    float: right;
}

#current-time, #track-length
{
    color: transparent;
    font-size: 11px;
    background-color: #ffe8ee;
    border-radius: 10px;
    transition: 0.3s ease all;
}

#track-time.active #current-time, #track-time.active #track-length
{
    color: #c64265;
    background-color: transparent;
}

#s-area, #seek-bar
{
    position: relative;
    height: 4px;
    border-radius: 4px;
}

#s-area
{
    background-color:#ffe8ee;
    cursor: pointer;
}

#ins-time
{
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
	display:none;
}

#s-hover
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#ins-time, #s-hover
{
    background-color: #3b3d50;
}

#seek-bar
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #fd6d94;
    transition: 0.2s ease width;
    z-index: 1;
}

#player-content
{
    position: relative;
    height: 90%;
    background-color: rgb(6, 21, 29);
    box-shadow: 0px 0px 40px #989797;
    border-radius: 15px;
    z-index: 2;
}

#album-art
{
    position: absolute;
    top: -40px;
    width: 115px;
    height: 115px;
    margin-left: 40px;
    transform: rotateZ(0);
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px #fff;
    border-radius: 50%;
    overflow: hidden;
}

#album-art.active
{
    top: -60px;
    box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
}

#album-art:before
{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2;
}

#album-art img
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

#album-art img.active
{
    opacity: 1;
    z-index: 1;
}

#album-art.active img.active
{
    z-index: 1;
    animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@keyframes rotateAlbumArt
{
    0%{ transform: rotateZ(0); }
    100%{ transform: rotateZ(360deg); }
}

#buffer-box
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
}

#album-art img, #buffer-box
{
    transition: 0.1s linear all;
}

#album-art.buffering img
{
    opacity: 0.25;
}

#album-art.buffering img.active
{
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box
{
    opacity: 1;
}

#player-controls
{
    width: 250px;
    height: 100%;
    margin: 0 5px 0 141px;
    float: right;
    overflow: hidden;
}

.control
{
    width: 33.333%;
    float: left;
    padding: 0px;
    height: 100%;
}

.button
{
    width: fit-content;
    height: fit-content;
    padding: 25px;
    left: 15px;
    top: 25px;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    border: 1px solid  #0ac0e93f;
}
.button:hover {
    background-color: #1c4d52;
}
.button .fa-pause {
    color: #af28f2;
    background-color: #000000;
}
.button .fa-forward:active {
    color: #9500ff;
}
.button .fa-backward:active {
    color: #9500ff;
}

.button i
{
    display: block;
    color: #8998a9;
    font-size: 20px;
    text-align: center;
    position: absolute;
    right: 14px;
    line-height: 0;
    width: fit-content;
    height: fit-content;
}

.button, .button i
{
    transition: 0.2s ease all;
}

.button:hover i
{
    color: rgb(99, 249, 172);
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  background-color: #ae5f87;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(174, 95, 135, 0.86);
  z-index: 125;
}   



.card-music h3 {
    font-family: Saira, sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 10px;
    color: rgb(200, 201, 201);
    text-align: center;
}
.card-music {
    height: 270px;
    background-color: #344450;
    border: 2px solid #0ae964;
    transition: border-width 0.1s linear;
} 
  
  .card-music:hover { 
      border-width: 10px;
      border: 8px solid #17ccd8;
     }

.track-upload-button {
    width: 100px;
    height: fit-content;
    right: 0;
    top: 5px;
    padding: 0px;
    margin: 5px;
    position: absolute;
    font-family: 'Saira', sans-serif;
    background-color: #058a8a;
    border: none;
}
.track-upload-button:hover {
    background-color: #ac0707;
}

.card-videos h3 {
    font-family: Saira, sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 10px;
    color: rgb(200, 201, 201);
    text-align: center;
}
.card-videos {
    height: 270px;
    background-color: #344450;
    border: 2px solid #0ae964;
}
.comment_text {
    color: #0ae964;
    position: relative;
    text-align: center;
}
.post_delete {
    color: #880a0a;
    float: right;
    margin: 10px;
    padding-right: 10px;
}
.comment_delete {
    color: #880a0a;
}
.comment_delete:hover {
    color: #ff0808;
    font-size: 16px;
}
.delete_comment_button {
    position: relative;
    color: #880a0a;
    font-size: 15px;
    top: -15px;
    right: -10px;
    float: right;
}

