body {
    width: 100%;
}

.content-section {
    position: absolute;
    width: auto;
    left: 30%;
    right: 30%;
    top: 20%;
}

h2 {
    position: relative;
    top: 30px;
    text-align: center;
}

.main_title {
    text-align: center;
}

